<div class="oppia-content oppia-error-page-main-content">
  <br>
  <div class="oppia-wide-panel oppia-error-wide-container">
    <div class="oppia-wide-panel-content protractor-test-error-container">
      <h1 class="oppia-error-h1">
        <div>
          <span></span>
          - Page Not Found
        </div>
      </h1>

      <br>
sss
      <div>
        <h2 class="oppia-error-h2"></h2>
      </div>
      <p><span>sss</span></p>
    </div>
  </div>
</div>
<style>
  .oppia-error-h1 {
    font-size: 1em;
    margin: 1.33em 0;
  }
  .oppia-error-h2 {
    font-size: 1.17em;
    font-weight: 700;
  }
  @media screen and (min-width: 768px) {
    .oppia-footer {
      position: relative;
    }
  }
</style>
